[Unit]
Description=Counter-Strike 1.6 Dedicated Server

[Service]
Type=exec
User=hlds
KillSignal=SIGINT
EnvironmentFile=/etc/hlds/cs16-server.conf
WorkingDirectory=/home/hlds/.steam/cs16
ExecStart=/home/hlds/.steam/cs16/hlds_run ${server_game} ${server_params} ${server_dll}
StandardOutput=null

[Install]
WantedBy=multi-user.target
