[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Service]
Type=simple
User=hlds
WorkingDirectory=/var/hlds/cs16
EnvironmentFile=/etc/hlds/cs16-server.conf
ExecStart=/var/hlds/cs16/hlds_run -game cstrike ${hlds_args}
KillSignal=SIGINT
StandardInput=null

[Install]
WantedBy=multi-user.target
