[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/cs16-server start
ExecStop=/usr/bin/cs16-server stop

[Install]
WantedBy=multi-user.target
