[Unit]
Description=Counter-Strike 1.6 Dedicated Server
After=network.target

[Service]
Type=simple
KillSignal=SIGINT
ExecStart=/usr/bin/cs16-server start-fg
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
